{% extends 'base_accounts.html' %}

{% block title %}Log in to Django Boards{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Log in</h3>

          <form action="/teste/post" method="POST" novalidate>
            {% csrf_token %}

            <div class="form-group">
              <label for="dadoString">Dado</label>
              <input type="text" class="form-control" id="dadoString" aria-describedby="string" placeholder="Entre com a string">
              <small id="emailHelp" class="form-text text-muted">Teste para saber eh possivel misturar django com machine learning.</small>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Enviar dados</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}